*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.color{
    color: rgb(5, 113, 5);
    font-size: 60px;
    font-weight: bold;
}
.fa-arrow-right{
    color: white;
}

.fa-arrow-right:hover{
    color: black;
}
.color1{
    color: rgb(227, 113, 7);
    font-weight: bold;
}
.btn:hover{
    background-color: rgb(213, 199, 199);
    color: black;
}
i{
    color: rgb(247, 129, 3);
}
.hed{
    color: rgb(4, 169, 4);
}
.about{
    margin-bottom: -40px;
    text-transform: uppercase;
    color: rgb(233, 122, 3);
    margin-top: 150px;
}
.hove:hover{
    border: 1px solid rgb(227, 113, 7);
    box-shadow: 2px 2px 2px 2px rgb(255, 128, 2);
}
.line{
    text-decoration: line-through;
}
.btn1{
    border: 1px solid  rgb(233, 122, 3);
    padding: 6px 12px;
    margin-top: 20px;

}
.btn1:hover{
    box-shadow: 2px 2px 2px 2px rgb(255, 128, 2);
}
.cont{
    text-transform: uppercase;
    margin-bottom: -44px;
    margin-top: 80px;
}
.img1{
    margin-top: 180px;
}
.main{
    background-color: rgb(47, 46, 46);
    color: white;
    margin-top: 50px;
}
.icon{
    margin-left: 15px;
    color: white;
    font-size: 25px;
    margin-top: 10px;
}
.colo{
    background-color: rgb(10, 116, 10);
}

.icon:hover{
    color: rgb(255, 128, 2);
}

.foot a:hover{
    color: rgb(255, 128, 2);
}

.foot a{
    text-decoration: none;
    margin-top: 20px;
    color: white;
   font-weight: bold;

}
.foot{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.sub{
    width: 50%;
    
}
.sub img{
    width: 100%;
    height: 100vh;
}
.main1{
    margin: 0;
    padding: 0;
    background-color: rgb(220, 201, 178);
    display: flex;
}
.sub1{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.form{
    background-color: rgb(250, 251, 251);
    padding: 50px;
    color: black;
    /* width: 430px; */
   border-top-right-radius:30px;
   border-bottom-left-radius:30px;
   position: relative;
}
.form input{
    width: 330px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 40px;
    border: 2px black solid;
    outline: none;
}
  .reg1{
    margin-top: 38px;
    position: fixed;
    color: black;
    
    margin-left: 15px;

  }  

 .reg{
    margin-top: 15px;
    position: fixed;
    color: black;
    
    margin-left: 15px; 
}
.fa-eye{
    margin-left: 300px;
    margin-top: 8px;
    position: absolute;
    color: black;
}
::placeholder{
    font-weight: 400;
}
@media screen and (max-width:450px) {
 .color{
    font-size: 30px;
 }
.sub{
    width: 0px;
}
.sub1{
    width: 100%;
    
}
.fa-eye{
    margin-left: 200px;
}
.form input{
    width: 100%;
}
.about{
    margin-top: 50px;
}
.img1{
    margin-top: 50px;
}
.cont{
    margin-top: 30px;
}

}
@media screen and (max-width:1024px) {

    .sub{
        width: 0px;
    }
    .sub1{
        width: 100%;
        
    }


    
}




